*{
    margin:0px;
    padding:0px ;
    list-style:none;
    text-decoration:none;
    border:none;
    outline:0;
    font-family:'SourceHanSansCN-Medium','Microsoft YaHei';
    color: #41200A;
}
html{
    background-color:#F1EEE3;
    font-size: 13.3333333333333333333333333333333333333vw;
}
body{
    min-height:667px;
    background:url('img/topflowerbg.png') 92% top no-repeat,
    url('img/lianhua.png') 26px bottom no-repeat,
    url('img/border3.png') left 444.5px no-repeat;
    background-size:153.5px 99.5px,48px 56px,1px 100%;

}
.anxiang img{
    margin:0px auto;
    padding-top:2.32rem;
    display:block;
    width:1.5rem;
    height:3rem;
}
.flex{
    display:flex;
    justify-content: space-between;
}
.menu{
    width:65%;
    height:1.48rem;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration:none;
    color: #41200A;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
.page_item{
    width:.65rem;
    height: 1.48rem;
    display: flex;
    justify-content:flex-start;
}
.page_master{
	position: absolute; 
    width:1rem;
    height:1.48em;
    background: #DFDCD2;
    border-radius:.05rem;
    left: .8rem;
    top: .8rem;
    display: flex;
}
.page_master:before {
   content: "";
   position: absolute;
   top: .18rem; 
   left: -0.14rem;
   border-top: 0.14rem solid transparent;
   border-right: 0.14rem solid;
   border-bottom: 0.14rem solid transparent;
   border-right-color: #DFDCD2;
}
.page_master a{
	display: block;
	font-size: .14rem;
	line-height: .28rem;
	padding: .2rem .05rem 0 .1rem;
	color: #333333;
	width: .3rem;
}
.page_lecture{
	position: absolute; 
	display: flex;
    width:1.3rem;
    height:1.48em;
    background: #DFDCD2;
    border-radius:.05rem;
    left: .8rem;
    top: .8rem;
   
}
.page_lecture:before {
   content: "";
   position: absolute;
   top: .18rem; 
   left: -0.14rem;
   border-top: 0.14rem solid transparent;
   border-right: 0.14rem solid;
   border-bottom: 0.14rem solid transparent;
   border-right-color: #DFDCD2;
}
.page_lecture a{
	display: block;
	font-size: .14rem;
	line-height: .28rem;
	width: .28rem;
	padding: .2rem .05rem 0 .08rem;
	color: #333333;
}
.page_item a:nth-child(2){
    writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/  
    writing-mode: tb-lr;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/ 
    display: block; 
    height: 1.48rem;
}
.page_item a:nth-child(1){
    display: block; 
    height: 1.48rem;
}
.menu-one{
    margin-left:12%;
    margin-top:0.8rem;
}
.menu-one ul{
	position: relative;
}
.menu-one li{
	margin-top: 0.4rem;
}
.menu-two{
	height: 1.5rem;
    margin-left:26%;
    margin-top:0.22rem;
}
.sizeone{
    font-size: .28rem;
    letter-spacing:.03rem;
    line-height: .32rem;
}
.sizetwo{
    height:.68rem;
    font-size:.18rem;
    letter-spacing:1px;
}

.borders{
    opacity: 0.4;
    border: 1px solid #D0B696;
}
.above {
    width:65%;
    margin-left:12%;
    margin-top:0.32rem;
}
.below {
    width:65%;
    margin-left:26%;
}
.below img{
    width:0.15rem;
    height:1.12rem;
}
.above img{
    width:.15rem;
    height:1.12rem;
}
.above-left{
    margin-left:0.12rem;
}
.above-right{
    margin-right:.44rem;
}
/*wordpress 文章的样式*/
 .has-text-align-center{
    text-align: center;
 }
  .aligncenter{
    text-align: center;
}
  .has-text-align-right{
    text-align: right;
}
 .baradio{
    width:0px;
    height:0px;
    position:fixed;
    left:0px;
    top:0px;
  }