
        *{
            margin:0px;
            padding:0px;
            list-style:none;
            font-family:'PingFangSC-Regular','Microsoft YaHei';
        }
        html{
            background-color:#F1EEE3;
            height:100%;
        }
        a{
            text-decoration:none;
            color: #41200A;
        }
        .has-text-align-center{
            text-align: center;
        }
        .aligncenter{
            text-align: center;
        }
        .has-text-align-right{
            text-align: right;
        }
        body{
              height:100%;
              background:url('img/flower.png') 0.5rem bottom no-repeat;
              background-size:307px 199px;
           }
        .container{
            width:1260px;
            height: 100%;;
            margin:auto;
            display:flex;
        }
        .nav{
            position: absolute;
            left: 0;
            top:90px;
            display: flex;
            justify-content: space-between;
        }
         .nav a{
            display: block;
            width:16px;
            margin-left: 8px;
            font-family: JLinXin;
            font-size: 14px;
            font-weight:bold;
            color: #FFFFFF;
            writing-mode: vertical-lr;
        } 
        .anxiang img{
            width:151px;
            height:301px;
            position:relative;
            left:33px;
            top: 50%;
            transform: translateY(-50%);
        }
        .homePage{
            width:753px;
            height: 100%;
            margin-left:300px;
            background:url('img/border2.png')left bottom no-repeat,
            url('img/border2.png') 83px bottom no-repeat,
            url('img/border2.png') 133px top no-repeat,
            url('img/border2.png') 216px top no-repeat,
            url('img/border2.png') 266px bottom no-repeat,
            url('img/border2.png') 349px bottom no-repeat,
            url('img/border2.png') 399px top no-repeat,
            url('img/border2.png') 482px top no-repeat,
            url('img/border2.png') 532px bottom no-repeat,
            url('img/border2.png') 615px bottom no-repeat,
            url('img/border2.png') 665px top no-repeat,
            url('img/border2.png') 748px top no-repeat;
            background-size:1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%,
            1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%,
            1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%,
            1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%,
            1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%,
            1px 56.6%,1px 60.8%,1px 53.9%,1px 47.6%;
        }
       
        .pageone{
            width:50px;
            position: relative;
            top: 40%;
            height: 450px;
            left: 0;
            /* border: 1px solid blue; */
        }
        .first_pic{
            width:83px;
            height:120%;
            position: absolute;
            left: -20px;
            top: 25%;
        }
        .sec_pic{
            width:83px;
            height:90%;
            position: absolute;
            left: -19px;
            top: -100%;
        }
        .first_pic img{
            width:83px;
            height:100%;
        }
        .sec_pic img{
            width:83px;
            height:100%;
            -moz-transform:rotate(180deg); 
            -webkit-transform:rotate(180deg);
            transform:rotate(180deg);
        }
        .pageone li {
            /* font-family: SourceHanSansCN-Medium; */
            letter-spacing:3px;
            line-height: 22px;
            display: inline-block;
            width: 23px;
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            -moz-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
        }
        .homePagetitle{
            /* height: 200px; */
            height: 100%;
            display: flex;
            justify-content: space-between;
            position:relative;
            /* bottom:50px; */
            /* border: 1px solid red; */
        }
        .floatLeft a{
            font-size: 18px;
        }
        .floatLeft{
            float:left;
        }
        .floatRight{
            float:right;
        }
        .clearfix {
            zoom: 1;
          }
        .clearfix:after {
            content: "";
            display: block;
            line-height: 0;
            height: 0;
            clear: both;
            overflow: hidden;
          }
        .floatRight a{
            font-size:14px;
            display: inline-block;
            width: 20px;
            font-family:'Georgia';
        }
        .dbl{
            display:block;
        }
        .dno{
            display:none;
        }
